@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  height: 4px;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(49, 95, 95);
  border-radius: 3px;
}
/* 
::-webkit-slider-thumb:hover{
  background-color: aqua;
} */